.top-nav{display: none;}
.nav-wrap,.trip-price,.trip-info-btn,.trip-info-share,.detail-menu{display: none;}
.page-jumbo.trip-jumbo .parallax-window {
    padding: 0%;
}
.jumbo-detail p{display: none;}
.parallax-mirror, footer, .related-trips{display: none;}
.collapse{display: block;}
.accordion-group .accordion-body.collapse {
        height: auto;
    }
.accordin-icon-plus:after, .reviews{display: none;}